
CONFIG_REGULATOR=y

# enable uart driver
CONFIG_SERIAL=y

# enable GPIO
CONFIG_GPIO=y

# enable clocks
CONFIG_CLOCK_CONTROL=y

# console
CONFIG_CONSOLE=y
CONFIG_UART_CONSOLE=y

# enable pin controller
CONFIG_PINCTRL=y

# USB
CONFIG_USB_DEVICE_STACK=n
CONFIG_USB_COMPOSITE_DEVICE=n
CONFIG_USB_DEVICE_MANUFACTURER="EZbird"
CONFIG_USB_DEVICE_PRODUCT="LEAT"
CONFIG_USB_DEVICE_VID=0x1209
CONFIG_USB_DEVICE_PID=0x6202
CONFIG_USB_SELF_POWERED=n
CONFIG_USB_CDC_ACM=n
CONFIG_USB_DEVICE_INITIALIZE_AT_BOOT=n
