#include <zephyr/dt-bindings/gpio/gpio.h>
#include <zephyr/dt-bindings/pinctrl/stm32-pinctrl.h>

/* Board-specific overlay to enable SAI1 Block B and correct audio PLL setup */

/ {
	aliases {
		rtc = &rtc;
		sound-wakeup-en = &sound_wakeup_en;
		sound-wakeup-irq = &sound_wakeup_irq;
	};

	sound_wakeup_leds {
		compatible = "gpio-leds";
		sound_wakeup_en: sound_wakeup_en {
			gpios = <&gpioa 10 GPIO_ACTIVE_HIGH>;
			label = "sound_wakeup_en";
		};
	};

	sound_wakeup_keys {
		compatible = "gpio-keys";
		sound_wakeup_irq: sound_wakeup_irq {
			gpios = <&gpioa 15 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>;
			label = "sound_wakeup_irq";
		};
	};

	chosen {
		zephyr,console = &cdc_acm_uart0;
		zephyr,shell-uart = &cdc_acm_uart0;
		zephyr,code-partition = &slot0_partition;
		zephyr,retained-ram = &retained_mem;
		zephyr,retained-mem = &app_retention;
	};

	retained_region: backup-retention@40036400 {
		compatible = "mmio-sram";
		reg = <0x40036400 0x400>;
		status = "okay";
		#address-cells = <1>;
		#size-cells = <1>;

		retained_mem: retainedmem@0 {
			compatible = "zephyr,retained-ram";
			reg = <0x0 0x400>;
			status = "okay";
			#address-cells = <1>;
			#size-cells = <1>;

			app_retention: retention@0 {
				compatible = "zephyr,retention";
				status = "okay";
				reg = <0x0 0x80>;
				prefix = [4C 50];
				checksum = <1>;
			};
		};
	};
};

&backup_sram {
	status = "okay";
};

&zephyr_udc0 {
	/* PA11/PA12 use the embedded full-speed PHY; avoid invalid HS CDC
	 * descriptors.
	 */
	maximum-speed = "full-speed";
};

&{/soc/pin-controller@42020000} {
	spi3_sck_pc10_sleep: spi3_sck_pc10_sleep {
		pinmux = <STM32_PINMUX('C', 10, ANALOG)>;
	};

	spi3_miso_pc11_sleep: spi3_miso_pc11_sleep {
		pinmux = <STM32_PINMUX('C', 11, ANALOG)>;
	};

	spi3_mosi_pc12_sleep: spi3_mosi_pc12_sleep {
		pinmux = <STM32_PINMUX('C', 12, ANALOG)>;
	};
};


&sai1 {
    status = "okay";
};

&sai1_b {
    /* 工作时的引脚配置 */
    pinctrl-0 = <&sai1_mclk_b_pb4 &sai1_sd_b_pb5 &sai1_fs_b_pb6 &sai1_sck_b_pb3>;
    pinctrl-1 = <&sai1_mclk_b_pb4_sleep &sai1_sd_b_pb5_sleep &sai1_fs_b_pb6_sleep &sai1_sck_b_pb3_sleep>;
	
    /* 声明这两种状态的名字 */
    pinctrl-names = "default", "sleep";
    
    mclk-enable;
    mclk-divider = "div-256";
    dma-names = "rx";
    status = "okay";
};

&i2c2 {
	clock-frequency = <100000>;
};

&i2c1 {
	clock-frequency = <100000>;
};

&ina3221 {
	/* Match ambient_firmware.ino:
	 * ch1 (solar): 0.075 ohm (2x 0.150 ohm in parallel) => 75 mOhm
	 * ch2 (battery): 0.150 ohm => 150 mOhm
	 */
	shunt-resistors = <75 150 0>;
	enable-channel = <1 1 0>;
	zephyr,deferred-init;
};

&iwdg {
	status = "okay";
};

&rtc {
	clocks = <&rcc STM32_CLOCK(APB3, 21)>,
		 <&rcc STM32_SRC_LSE RTC_SEL(1)>;
	status = "okay";
	wakeup-source;
};

&gpioa {
	status = "okay";
	wakeup-source;
};

&gpiob {
	status = "okay";
};

&gpioc {
	status = "okay";
	wakeup-source;
};

&power_ctrl_pins {
	compatible = "bird,power-ctrl-pins";
	spi3-miso-gpios = <&gpioc 11 GPIO_ACTIVE_HIGH>;
	sd-cd-gpios = <&gpioa 8 GPIO_ACTIVE_HIGH>;
};

&i2c1 {
	/* Lower bitrate for more robust GNSS NMEA-over-I2C */
	clock-frequency = <100000>;
	kxtj3: kxtj3@f {
		compatible = "kionix,kxtj3-1057";
		reg = <0x0f>;
		status = "okay";
	};
	status = "okay";
};

&spi3 {
	pinctrl-0 = <&spi3_sck_pc10 &spi3_miso_pc11_pullup &spi3_mosi_pc12>;
	pinctrl-1 = <&spi3_sck_pc10_sleep &spi3_miso_pc11_sleep &spi3_mosi_pc12_sleep>;
	pinctrl-names = "default", "sleep";
	clocks = <&rcc STM32_CLOCK(APB3, 5)>,
		 <&rcc STM32_SRC_HSI16 SPI3_SEL(2)>;
};

&pll2 {
    div-m = <4>;
    mul-n = <65>;
    fracn = <4391>;
    div-p = <2>;
    div-q = <2>;
    div-r = <2>;
    clocks = <&clk_hse>;
    status = "okay";
};
